In [271]:
import numpy as np
import pandas as pd

In [272]:
df = pd.read_csv('books.csv')
df_new = pd.read_csv('books_new.csv')

In [273]:
df.head()

,Title,Author,Genre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin

In [274]:
df_new.head()

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin

In [275]:
df.shape

(211, 5)

In [276]:
df_new.shape

(211, 6)

In [277]:
df.head()

,Title,Author,Genre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin

## Content Based Recommendation

In [278]:
main = df.merge(df_new,on='Title')

In [279]:
main.head()

,Title,Author_x,Genre_x,Height_x,Publisher_x,Author_y,Genre_y,SubGenre,Height_y,Publisher_y
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin,"Said, Edward",nonfiction,history,197,Penguin

In [280]:
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213 entries, 0 to 212
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        213 non-null    object
 1   Author_x     189 non-null    object
 2   Genre_x      213 non-null    object
 3   Height_x     213 non-null    int64
 4   Publisher_x  116 non-null    object
 5   Author_y     189 non-null    object
 6   Genre_y      213 non-null    object
 7   SubGenre     213 non-null    object
 8   Height_y     213 non-null    int64
 9   Publisher_y  116 non-null    object
dtypes: int64(2), object(8)
memory usage: 18.3+ KB

In [281]:
books_data = main[['Title','Author_x','Publisher_x','Genre_x','SubGenre']]

In [282]:
books_data.head()

,Title,Author_x,Publisher_x,Genre_x,SubGenre
0,Fundamentals of Wavelets,"Goswami, Jaideva",Wiley,signal_processing,signal_processing
1,Data Smart,"Foreman, John",Wiley,data_science,data_science
2,God Created the Integers,"Hawking, Stephen",Penguin,mathematics,mathematics
3,Superfreakonomics,"Dubner, Stephen",HarperCollins,economics,economics
4,Orientalism,"Said, Edward",Penguin,history,history

In [283]:
books_data.isnull().sum()

Title           0
Author_x       24
Publisher_x    97
Genre_x         0
SubGenre        0
dtype: int64

In [284]:
books_data['Author_x'].isnull().sum()

24

In [285]:
books_data['Author_x'].shape

(213,)

In [286]:
books_data['Publisher_x'].shape

(213,)

In [287]:
books_data['Publisher_x'].isnull().sum()

97

In [288]:
books_data['Publisher_x'].fillna("abc")

0              Wiley
1              Wiley
2            Penguin
3      HarperCollins
4            Penguin
           ...
208              abc
209              abc
210              abc
211              abc
212              abc
Name: Publisher_x, Length: 213, dtype: object

In [289]:
books_data['Publisher_x'].isnull().sum()

97

In [290]:
books_data.dropna(inplace=True)

C:\Users\Kajal\AppData\Local\Temp\ipykernel_37980\3732632683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_data.dropna(inplace=True)

In [291]:
books_data.isnull().sum()

Title          0
Author_x       0
Publisher_x    0
Genre_x        0
SubGenre       0
dtype: int64

In [292]:
books_data.shape

(113, 5)

In [293]:
books_data.head(1)

,Title,Author_x,Publisher_x,Genre_x,SubGenre
0,Fundamentals of Wavelets,"Goswami, Jaideva",Wiley,signal_processing,signal_processing

In [294]:
books_data.iloc[0].Author_x

'Goswami, Jaideva'

In [295]:
books_data['Genre_x'].value_counts()

fiction              36
nonfiction           18
history              12
data_science         11
economics             9
science               8
philosophy            7
computer_science      6
mathematics           3
signal_processing     2
psychology            1
Name: Genre_x, dtype: int64

In [296]:
books_data['SubGenre'].value_counts()

history              18
novel                18
classic              17
economics            10
data_science          9
autobiography         7
signal_processing     5
mathematics           5
computer_science      5
physics               5
misc                  4
psychology            2
philosophy            2
poetry                1
education             1
science               1
trivia                1
objectivism           1
anthology             1
Name: SubGenre, dtype: int64

In [297]:
books_data['SubGenre'].shape

(113,)

In [298]:
books_data['Genres'] = books_data['SubGenre']+ (" , ")+ books_data['Genre_x']

C:\Users\Kajal\AppData\Local\Temp\ipykernel_37980\2588955251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_data['Genres'] = books_data['SubGenre']+ (" , ")+ books_data['Genre_x']

In [299]:
books_data.head()

,Title,Author_x,Publisher_x,Genre_x,SubGenre,Genres
0,Fundamentals of Wavelets,"Goswami, Jaideva",Wiley,signal_processing,signal_processing,"signal_processing , signal_processing"
1,Data Smart,"Foreman, John",Wiley,data_science,data_science,"data_science , data_science"
2,God Created the Integers,"Hawking, Stephen",Penguin,mathematics,mathematics,"mathematics , mathematics"
3,Superfreakonomics,"Dubner, Stephen",HarperCollins,economics,economics,"economics , economics"
4,Orientalism,"Said, Edward",Penguin,history,history,"history , history"

In [300]:
books_data['Author'] = books_data['Author_x']
books_data['Publisher'] = books_data['Publisher_x']

C:\Users\Kajal\AppData\Local\Temp\ipykernel_37980\2802537626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_data['Author'] = books_data['Author_x']
C:\Users\Kajal\AppData\Local\Temp\ipykernel_37980\2802537626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_data['Publisher'] = books_data['Publisher_x']

In [301]:
books_data.head(15)

,Title,Author_x,Publisher_x,Genre_x,SubGenre,Genres,Author,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",Wiley,signal_processing,signal_processing,"signal_processing , signal_processing","Goswami, Jaideva",Wiley
1,Data Smart,"Foreman, John",Wiley,data_science,data_science,"data_science , data_science","Foreman, John",Wiley
2,God Created the Integers,"Hawking, Stephen",Penguin,mathematics,mathematics,"mathematics , mathematics","Hawking, Stephen",Penguin
3,Superfreakonomics,"Dubner, Stephen",HarperCollins,economics,economics,"economics , economics","Dubner, Stephen",HarperCollins
4,Orientalism,"Said, Edward",Penguin,history,history,"history , history","Said, Edward",Penguin
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",Springer,data_science,data_science,"data_science , data_science","Vapnik, Vladimir",Springer
6,Integration of the Indian States,"Menon, V P",Orient Blackswan,history,history,"history , history","Menon, V P",Orient Blackswan
7,"Drunkard's Walk, The","Mlodinow, Leonard",Penguin,science,mathematics,"mathematics , science","Mlodinow, Leonard",Penguin
8,Image Processing & Mathematical Morphology,"Shih, Frank",CRC,signal_processing,signal_processing,"signal_processing , signal_processing","Shih, Frank",CRC
9,How to Think Like Sherlock Holmes,"Konnikova, Maria",Penguin,psychology,psychology,"psychology , psychology","Konnikova, Maria",Penguin
10,Data Scientists at Work,Sebastian Gutierrez,Apress,data_science,data_science,"data_science , data_science",Sebastian Gutierrez,Apress
11,Slaughterhouse Five,"Vonnegut, Kurt",Random House,fiction,classic,"classic , fiction","Vonnegut, Kurt",Random House
12,Birth of a Theorem,"Villani, Cedric",Bodley Head,mathematics,mathematics,"mathematics , mathematics","Villani, Cedric",Bodley Head
13,Structure & Interpretation of Computer Programs,"Sussman, Gerald",MIT Press,computer_science,computer_science,"computer_science , computer_science","Sussman, Gerald",MIT Press
14,"Age of Wrath, The","Eraly, Abraham",Penguin,history,history,"history , history","Eraly, Abraham",Penguin

In [302]:
Book = books_data[['Title','Author','Publisher','Genres']]
Book.head(2)

,Title,Author,Publisher,Genres
0,Fundamentals of Wavelets,"Goswami, Jaideva",Wiley,"signal_processing , signal_processing"
1,Data Smart,"Foreman, John",Wiley,"data_science , data_science"

In [303]:
Book.shape

(113, 4)

In [304]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=500,stop_words='english')

In [305]:
vectors = cv.fit_transform(Book['Genres']).toarray()

In [306]:
vectors

array([[0, 0, 0, ..., 0, 2, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=int64)

In [307]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0],
      dtype=int64)

In [308]:
cv.get_feature_names()

C:\Users\Kajal\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['anthology',
 'autobiography',
 'classic',
 'computer_science',
 'data_science',
 'economics',
 'education',
 'fiction',
 'history',
 'mathematics',
 'misc',
 'nonfiction',
 'novel',
 'objectivism',
 'philosophy',
 'physics',
 'poetry',
 'psychology',
 'science',
 'signal_processing',
 'trivia']

In [309]:
len(cv.get_feature_names())

21

In [310]:
# we have to fine cosine distance

from sklearn.metrics.pairwise import cosine_similarity

In [311]:
similarity = cosine_similarity(vectors)

In [312]:
similarity

array([[1. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 1. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 1. , ..., 0. , 0. , 0. ],
       ...,
       [0. , 0. , 0. , ..., 1. , 0.5, 0. ],
       [0. , 0. , 0. , ..., 0.5, 1. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 1. ]])

In [341]:
def recommend(book_name):
    book_index  = Book[Book['Title']== book_name].index[0]
    print(book_index)
    distences = similarity[book_index]
    book_list = sorted(list(enumerate(distences)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in book_list:
        print(Book.iloc[i[0]])

In [342]:
recommend('Fundamentals of Wavelets')

0
Title        Image Processing & Mathematical Morphology
Author                                      Shih, Frank
Publisher                                           CRC
Genres            signal_processing , signal_processing
Name: 8, dtype: object
Title                         Learning OpenCV
Author                          Bradsky, Gary
Publisher                            O'Reilly
Genres       signal_processing , data_science
Name: 58, dtype: object
Title        Computer Vision, A Modern Approach
Author                           Forsyth, David
Publisher                               Pearson
Genres         signal_processing , data_science
Name: 60, dtype: object
Title         Principles of Communication Systems
Author                            Taub, Schilling
Publisher                                     TMH
Genres       signal_processing , computer_science
Name: 61, dtype: object
Title                         Data Smart
Author                     Foreman, John
Publisher                          Wiley
Genres       data_science , data_science
Name: 1, dtype: object

In [315]:
recommend('Data Smart')

Nature of Statistical Learning Theory, The
Data Scientists at Work
Statistical Decision Theory'
Data Mining Handbook
Machine Learning for Hackers

In [316]:
recommend('God Created the Integers')

Birth of a Theorem
Analysis, Vol I
Drunkard's Walk, The
Artist and the Mathematician, The
Fundamentals of Wavelets

In [317]:
recommend('Nature of Statistical Learning Theory, The')

Nature of Statistical Learning Theory, The
Data Scientists at Work
Statistical Decision Theory'
Data Mining Handbook
Machine Learning for Hackers

In [344]:
Book['Title'].values

array(['Fundamentals of Wavelets', 'Data Smart',
       'God Created the Integers', 'Superfreakonomics', 'Orientalism',
       'Nature of Statistical Learning Theory, The',
       'Integration of the Indian States', "Drunkard's Walk, The",
       'Image Processing & Mathematical Morphology',
       'How to Think Like Sherlock Holmes', 'Data Scientists at Work',
       'Slaughterhouse Five', 'Birth of a Theorem',
       'Structure & Interpretation of Computer Programs',
       'Age of Wrath, The', 'Trial, The', "Statistical Decision Theory'",
       'Data Mining Handbook', 'New Machiavelli, The',
       'Physics & Philosophy', 'Making Software', 'Analysis, Vol I',
       'Machine Learning for Hackers', 'Signal and the Noise, The',
       'Python for Data Analysis', 'Introduction to Algorithms',
       'Beautiful and the Damned, The', 'Outsider, The',
       'Complete Sherlock Holmes, The - Vol I',
       'Complete Sherlock Holmes, The - Vol II', 'Wealth of Nations, The',
       'Pillars of the Earth, The', 'Mein Kampf', 'Tao of Physics, The',
       "Surely You're Joking Mr Feynman", 'Farewell to Arms, A',
       'Veteran, The', 'False Impressions', 'Last Lecture, The',
       'Return of the Primitive', 'Jurassic Park', 'Russian Journal, A',
       'Tales of Mystery and Imagination', 'Freakonomics',
       'Hidden Connections, The', 'Story of Philosophy, The',
       'Asami Asami', 'Journal of a Novel', 'Once There Was a War',
       'Moon is Down, The', 'Brethren, The', 'In a Free State',
       'Catch 22', 'Complete Mastermind, The', 'Dylan on Dylan',
       'Soft Computing & Intelligent Systems',
       'Textbook of Economic Theory', 'Econometric Analysis',
       'Learning OpenCV', 'Data Structures Using C & C++',
       'Computer Vision, A Modern Approach',
       'Principles of Communication Systems', 'Let Us C',
       'Amulet of Samarkand, The', 'Crime and Punishment',
       'Angels & Demons', 'Angels & Demons', 'Argumentative Indian, The',
       'Sea of Poppies', 'Idea of Justice, The', 'Raisin in the Sun, A',
       "All the President's Men", 'Prisoner of Birth, A', 'Scoop!',
       'Ahe Manohar Tari', 'Last Mughal, The',
       'Social Choice & Welfare, Vol 39 No. 1',
       'Radiowaril Bhashane & Shrutika', 'Gun Gayin Awadi',
       'Aghal Paghal', 'Maqta-e-Ghalib', 'Manasa',
       'India from Midnight to Milennium', 'Great Indian Novel, The',
       'O Jerusalem!', 'City of Joy, The', 'Freedom at Midnight',
       'Winter of Our Discontent, The', 'On Education', 'Free Will',
       'Bookless in Baghdad', 'Theory of Everything, The',
       'New Markets & Other Essays', 'Electric Universe',
       'Hunchback of Notre Dame, The', 'Burning Bright',
       'Age of Discontuinity, The', 'Doctor in the Nude',
       'Down and Out in Paris & London', 'Identity & Violence',
       'Beyond the Three Seas',
       "Maugham's Collected Short Stories, Vol 3",
       'Ashenden of The British Agent',
       'Zen & The Art of Motorcycle Maintenance',
       'Great War for Civilization, The', 'We the Living',
       'Artist and the Mathematician, The',
       'History of Western Philosophy', 'Rationality & Freedom',
       'Clash of Civilizations and Remaking of the World Order',
       'Uncommon Wisdom', 'One', 'To Sir With Love'], dtype=object)

In [319]:
import pickle
pickle.dump(Book,open('Books.pkl',"wb"))

In [320]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [346]:
pickle.dump(Book.to_dict(),open('Books_dict.pkl','wb'))